#
# Requirement files for Python Virtual Environments
#

# Shell interface for docopt, the command-line interface description language
docopt-ng

# Network request/response library
requests

# provides pkg_resources
setuptools
